* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #0b9586;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 157px;
    height: 54px;
    opacity: 0px;
    margin-bottom: -20px;

    margin-right: -3%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 8px 28px;

    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;

    align-content: right;
    margin-bottom: 10px;
  }

  .call-number {
    width: 216px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .call-number {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.9374999403953552px;
    text-align: left;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #b2dbd6;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 100px;
    height: 54px;
    opacity: 0px;
    margin-bottom: -20px;
    margin-left: 3%;
    margin-right: -3%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 4px 18px;

    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;
    margin-left: -4%;
    align-content: right;
    margin-bottom: 10px;
  }

  .call-number {
    width: 116px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .call-number {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.9374999403953552px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #b421b9;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 50px;
    height: 44px;
    opacity: 0px;
    margin-bottom: -16px;
    margin-left: 3%;
    margin-right: -8%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 4px 8px;

    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;
    margin-left: -19%;
    align-content: right;
    margin-bottom: 6px;
  }

  .call-number {
    width: 116px;
    height: 28px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
  }
}
