* {
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .div6 h1 {
    text-align: center;
    font-size: 42px;
  }
  .div6 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 936px;
    margin: 0 auto;
    text-align: center;
    color: #475467;
  }
  .div5 {
    display: flex;
    grid-row: 3;
    justify-content: center;
    align-items: center;
  }
  .div5 div {
    margin-right: 1%;

    max-width: 26.3%;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 0px #0000001a;
    display: flex;
    flex-direction: column;
  }

  .div5 h2 {
    margin-left: 10%;
  }
  .div5 p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #475467;
    text-align: left;
    width: 90%;
  }

  .div5 p:nth-of-type(2) {
    color: #3cab90;
  }
  .sec4h1 {
    font-size: 42px;
  }

  .div4 {
    background-image: url(./imgs/8116\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    align-items: left;
    justify-content: flex-start;
    margin-top: 10%;
  }

  .div44 {
    margin-left: 6%;
    color: #fff;
    margin-top: 5%;
  }

  .pdiv4 {
    width: 45%;
    line-height: 24px;
    font-size: 20px;
  }

  .pp {
    width: 70%;
    line-height: 24px;
    text-align: left;
    color: #475467;
    font-size: 16px;
  }

  .imgg {
    position: absolute;
    margin-top: 90%;
    margin-left: -30%;
  }

  .imggs {
    margin-top: 20%;
    margin-left: -20%;
  }

  .h11 {
    font-size: 42px;
    width: 70%;
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .div2 span {
    color: #84bd3a;
  }

  .div2 {
    font-weight: bold;
    font-size: 20px;
    width: 70%;
  }

  .img2 {
    background-image: url("./imgs/solar-panels-meadow\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .img2 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 13%;
    text-align: left;
    margin-left: 10%;
    display: inline-block;
  }

  .img2 p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    text-align: left;
    margin-left: 10%;
  }

  .grebtn {
    background-color: #3cab90;
    color: #fff;
    border: 1px solid #3cab90;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .yellowbtn {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .btn3 {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 0%;
    margin-top: 2%;
    cursor: pointer;
  }

  .img3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-left: 6%;
    margin-top: 4%;
    text-align: left;
  }

  .img33 {
    position: relative;
  }

  /* for nav */
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #0b9586;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 157px;
    height: 54px;
    opacity: 0px;
    margin-bottom: -20px;

    margin-right: -3%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 8px 28px;

    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;

    align-content: right;
    margin-bottom: 10px;
  }

  .call-number {
    width: 216px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .call-number {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.9374999403953552px;
    text-align: left;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .div6 h1 {
    text-align: center;
    font-size: 42px;
  }
  .div6 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 5%;
    margin: 0 auto;
    text-align: left;
    color: #475467;
  }
  .div5 {
    display: grid;
    margin-left: 23%;
  
  }
  .div5 div {
    margin-bottom: 5%;
    max-width: 66.3%; 
    margin-left: 1%;
    box-shadow: 0px 0px 10px 0px #0000001a;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
  }
  .div5 h2{
    margin-left: 5%;
  }

  .div4 {
    background-image: url(./imgs/8116\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    align-items: left;
    justify-content: flex-start;
    margin-top: 10%;
  }

  .div44 {
    margin-left: 6%;
    color: #fff;
    margin-top: 10%;
  }

  .div5 p:nth-of-type(2) {
    color: #3cab90;
    margin-right: 5%;
  }

  .pdiv4 {
    width: 45%;
    line-height: 24px;
    font-size: 20px;
  }

  .grebtn {
    background-color: #3cab90;
    color: #fff;
    border: 1px solid #3cab90;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .yellowbtn {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .btn3 {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 0%;
    margin-top: 2%;
    cursor: pointer;
  }

  .pp {
    margin-left: 15%;
    width: 120%;
    line-height: 24px;
    text-align: left;
    color: #475467;
    font-size: 16px;
  }

  .imgg {
    position: absolute;
    margin-top: 60%;
    margin-left: -19%;
    height: 25vh;
  }

  .imggs {
    margin-top: 85%;
    height: 60vh;
    margin-left: -11%;
  }
  .h11 {
    margin-left: 15%;
    width: 150%;
    font-size: 32px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .div2 span {
    color: #84bd3a;
  }

  .div2 {
    font-weight: bold;
    font-size: 15px;
    margin-left: 15%;
    width: 100%;
  }

  .img2 {
    background-image: url("./imgs/solar-panels-meadow\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .img2 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 13%;
    text-align: left;
    margin-left: 10%;
    display: inline-block;
  }

  .img2 p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    text-align: left;
    margin-left: 10%;
  }

  /* for nav */
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #b2dbd6;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 100px;
    height: 54px;
    opacity: 0px;
    margin-bottom: -20px;
    margin-left: 3%;
    margin-right: -3%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 4px 18px;

    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;
    margin-left: -4%;
    align-content: right;
    margin-bottom: 10px;
  }

  .call-number {
    width: 116px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .call-number {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.9374999403953552px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .div6 h1 {
    text-align: center;
    font-size: 32px;
  }

  .div5 p:nth-of-type(2) {
    color: #3cab90;
  
  }

  .div6 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    text-align: left;
    margin-left: 5%;
    color: #475467;
  }
  .div5 {
    display: grid;
    margin-left: 23%;
    align-items: center;
    justify-content: center;
  }
  .div5 div {
    margin-bottom: 8%;
    max-width: 66.3%;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 0px #0000001a;
    padding-bottom: 2%;
    
    display: flex;
    flex-direction: column;
  }

  .div5 h2{
    margin-left: 5%;
    
  }

  .div4 {
    background-image: url(./imgs/8116\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    align-items: left;
    justify-content: flex-start;
    margin-top: 10%;
  }

  .grebtn {
    background-color: #3cab90;
    color: #fff;
    border: 1px solid #3cab90;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .yellowbtn {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
  }

  .btn3 {
    background-color: #ffbb1c;
    color: black;
    border: 1px solid #ffbb1c;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 0%;
    margin-top: 2%;
    cursor: pointer;
  }

  .div44 {
    margin-left: 6%;
    color: #fff;
    margin-top: 10%;
  }

  .pdiv4 {
    width: 65%;
    line-height: 24px;
    font-size: 20px;
  }

  .pp {
    margin-left: 15%;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #475467;
    font-size: 16px;
  }

  .imgg {
    position: absolute;
    margin-top: 65%;
    margin-left: -25%;
    height: 20%;
  }

  .imggs {
    margin-top: 110%;
    height: 60vh;
    margin-left: -90%;
  }

  .h11 {
    margin-left: 15%;
    width: 390px;
    font-size: 32px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .div2 span {
    color: #84bd3a;
  }

  .div2 {
    font-weight: bold;
    margin-top: 105%;
    font-size: 15px;
    margin-left: 15%;
    width: 100%;
    text-align: left;
  }

  .img2 {
    background-image: url("./imgs/solar-panels-meadow\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: auto;
  }

  .img2 h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 13%;
    text-align: left;
    margin-left: 10%;
    display: inline-block;
  }

  .img2 p {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    text-align: left;
    margin-left: 10%;
  }

  /* for nav */

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #b421b9;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  .logo {
    width: 50px;
    height: 44px;
    opacity: 0px;
    margin-bottom: -16px;
    margin-left: 3%;
    margin-right: -8%;
  }

  li {
    list-style: none;
    display: inline;
    border-radius: 7%;
    padding: 4px 8px;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .ull {
    margin: 0 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  div ul {
    display: inline;
  }

  .call {
    display: inline-block;
    text-align: right;
    opacity: 0px;
    width: 216px;
    opacity: 1;
    margin-left: -20%;
    align-content: right;
    margin-bottom: 10px;
  }

  .call-number {
    width: 116px;
    height: 28px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
  }
}
